body {background-color: blue;


}
p{
	color: lightskyblue;
	font-family: Fixedsys;

}
h1{
	color: silver;
	font-family: Cooper Std;
}
h2{
	color: mediumaquamarine;
}
.c2{color: blueviolet;
}